body {
  font: 1.2em / 1.5 sans-serif;
}

#special {
    background-color: yellow;
}

.alert {
    border: 2px solid gray;
}

.alert.stop {
    background-color: red;
}
.alert.go {
    background-color: green;
}

* {
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    width: 300px;
}

td,
th {
    padding: 0.2em;
    text-align: left;
}
a:link {
    color: orange;
}
a:visited {
    color: green;
}
a:hover {
    text-decoration: none;
}
.alert p:first-child {
    font-size: 250%;
}
.cont2 p:first-child::first-line {
    color: red;
}
.secondrow {
    background-color: #333333;
    color: white;
}