body {
  font: 1.2em / 1.5 sans-serif;
}

#special {
    background-color: yellow;
}

.alert {
    border: 2px solid gray;
}

.alert.stop {
    background-color: red;
}
.alert.go {
    background-color: green;
}

* {
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    width: 300px;
}

td,
th {
    padding: 0.2em;
    text-align: left;
}
a:link {
    color: orange;
}
a:visited {
    color: green;
}
a:hover {
    text-decoration: none;
}
.cont2 p:first-child {
    font-size: 150%;
}
.cont2 p:first-child::first-line {
    color: red;
}
tr:nth-child(even) {
    background-color: #333333;
    color: white;
}
.cont3 h2 + p {
    color: red;
}

.list > li {
    list-style: none;
    border-bottom: 1px grey solid;
}

.cont4 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cont4 li {
  margin-bottom: 0.5em;
}

.cont4 a {
  display: block;
  padding: 0.5em;
}

.cont4 a {
  border: 5px solid grey;
}
a[title] {
    border-color: pink;
}
a[href*="contact"] {
    border-color: orange;
}
a[href^="https"] {
    border-color: green
}
