body {
    font: 1.2em / 1.5 sans-sarif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 1em;
    padding: 0.5em;
}

.hex {
    background-color: #86defa;
}

.rgb {
    background-color: rgb(134 222 250);
}

.hsl {
    background-color: hsl(194 92 75);
}

.transparency {
    background-color: rgb(134 222 250 / .6);
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 2em;
}

p {
    font-size: 16px;
}

h1 + p {
    font-size: 120%;
}

.box {
    border:  5px solid black;
    height: 350px;
}

.box {
    background-image: url("https://mdn.github.io/shared-assets/images/examples/purple-star.png");
    background-repeat: no-repeat;
    background-position: center 20%;
}