body {
    background-color: #282c34;
    font-family: sans-serif;
    text-align: center;
    color: white;
    height: 100%;
    margin: 0;
}

.menu {
    background-color: #3a404b;
    box-shadow: 1px 1px 10px rgb(27, 27, 27);
    height: 40px;
    padding-top: 3%;
}
a {
    text-decoration: none;
    color: white;
    margin: 3%;
    padding-bottom: 1%;
}

.active-link {
    color: #61dafb;
    border-bottom: 1px solid #61dafb;
}

.container-main {
    display: flex;
    justify-content: center; /* horizontálne zarovanie */
    align-items: center; /* vertikálne zarovnanie */
    height: 100vh;  /* výška celej obrazovky */
}

.hracie-pole {
    background-color: #3a404b;
    font-size: 12px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(27, 27, 27);
    padding: 1.5%;
}

h1 {
    color: #61dafb;
}

p {
    padding: 1.5%;
    font-weight: 500;
}
.zacat-hrat {
    background-color: #42d1f8;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    padding: 1.5%;
    border: 1px solid black;
    text-decoration: none;
}

.zacat-hrat:hover, 
button:hover {
    background-color: #61dafb;
}

button {
    background-color: #42d1f8;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    padding: 1.5%;
    border: 1px solid black;
}


/* Footer section */

footer {
    margin-top: auto;
}

.container-footer {
    background-color: #3a404b;
    font-size: 12px;
}


/* hracia tabuľka */

.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px); /* 3 stĺpce */
    grid-template-rows: repeat(3, 100px);    /* 3 riadky */
    gap: 10px;
    padding: 20px;
    margin-left: 70px;
}

.cell {
    background-color: #4a505e;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
