.young-serif-regular {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}


.outfit-box1 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    color:hsl(30, 10%, 34%);
    background-color: hsl(30, 54%, 90%);   
    text-align: left;
    padding: 0 2% 0 2%;
    margin: 10% 25%;
    font-family: "Outfit";
    font-size: 16px;
    line-height: 2em;
}

.box0 {
    background-color: white;
    border-radius: 10px;
    padding: 5%;
}

.box1 {
    background-color: hsl(330, 100%, 98%);
    padding: 1% 0 1% 5%;
}
.box1::first-line {
    color: hsl(332, 51%, 32%);
    font-family: "Outfit";
}


img {
    border-radius: 10px;
    width: 100%;
}

h1 {
    color: hsl(24, 5%, 18%);
    font-size: 36px;
    font-weight: 100;

}

h2 {
    color: hsl(14, 45%, 36%);
    font-size: 24px;
    font-weight: 100;
}

h1, h2 {
    font-family: "Young Serif";
}

ol,
.ingredients {
    border-bottom: 0.2px solid hsl(30, 18%, 87%);
    padding-bottom: 4%;
}

.highlight {
    font-weight: bold;
}

ul, 
ol {
    padding-left: 3%;
}

li {
    padding-left: 2%;
}

ul li::marker, ol li::marker {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

ul.preparation li::marker {
    color: hsl(332, 51%, 32%);
}


table {
    width: 100%;
}

td {
    border-bottom: 0.2px solid hsl(30, 18%, 87%);
    padding-left: 5%;
}

.last-row td {
    border-bottom: none;
}

.value {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
    padding-left: 0;
}

footer {
    padding-top: 5%;
}